#form1 {
  /* height: 100vh; */
  margin: 0;
  padding: 0;
  background-color: #0b0b0b;
  background-position: left top;
  background-repeat: no-repeat;

}

#form-text {
  margin: 0;
  padding: 0;
  width: 600px;
  margin: 56px auto 18px;

}

:invalid {}

:required {}

form {
  width: 600px;
  margin: 56px auto;

}

input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-bottom: 1px solid #2d2d2d;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-size: 20px;
  max-width: 100%;
  min-width: 600px;
  min-height: 56px;
  display: block;
  margin-bottom: 15px;
  margin-top: 5px;
  margin-left:;
  outline: none;
  background-color: black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;

}

input[type=submit] {
  background: none;
  padding: 10px 10px 10px 16px;
}

#full_secondname {
  padding-left: 16px;
}

#full_name {
  padding-left: 16px;
}

input {
  padding-left: 16px;
}

h19 {
  font-size: 2.5em;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 1.1em;
}

h20 {

  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 1.1em;
  margin-left: 16px;
}

#btn-form {
  background-color:;
  width: 600px;
  height: 56px;
  margin: 7px 0;
}

#btn-form-inactive {
  background-color: #0b0b0b;
  width: 600px;
  height: 56px;
  margin: 7px 0;
  border: #2d2d2d 1px solid;
}
