/**
 * Copyright 2016 (c) myles.systems, all rights reserved
 */
html body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  color: #777;
  background-color: #0b0b0b;
  line-height: 1.75em;
}

/*
 * the main link style
 */
a,
a:hover {
  text-decoration: none;
}

/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: darkgrey;
}

/* selected link */
a:active {
  color: darkgrey;
}

h1 {
  font-size: 1.6em;
  font-style: normal;
  line-height: 1.65em;

}

h11 {

  font-style: normal;
  font-size: 1.2em;
}

h2 {
  font-size: 1.65em;
  font-style: italic;
  line-height: 1.75em;
  color: white;

}

h3 {
  font-size: 1.4em;
  font-style: normal;
  line-height: 1.65em;
  margin: 2em 0;
  color: #fff;
  letter-spacing: 0.04em;
}

h4 {
  line-height: 1.45em;
  font-size: 1em;
  font-weight: 400;
  /* padding-bottom: 1em; */
  color: white;
  /* position: absolute; */
  /* bottom: 0; */
  /* display: inline; */
  word-wrap: normal;
}

h5 {

  line-height: 1.25em;
  text-align: left;
  font-size: 1em;
  font-weight: 600;
  padding-bottom: 1em;
}

h6 {
  font-size: 1.5em;
  font-style: italic;
  line-height: 1.5em;
  margin: 2em;
  color: #fff;
}

img {
  width: 100%;
  height: 100%;
}

h1 > b,
p > b {
  color: #fff;
  line-height: 1.5em;
}

p {
  font-size: 0.85em;
  font-weight: 600;
  letter-spacing: 0.04em;
  font-style: normal;
}

/*css over 800px width*/
@media (min-width: 992px) {
  .row {
    padding: 5.5em 15em;
  }

  body {
    font-size: 16px;

  }

  .description {
    padding-left: 8px;
    display: inline-block;
  }

  #footerlabel,
  #footerlinks {
    display: block;
    margin: 20px 0;
  }

}

/*css under 800px width*/
@media (max-width: 991px) {
  .row {
    padding: 1.5em 5em;
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 10px; */
  }

  body {
    font-size: 14px;

  }

  #intro p {
    white-space: nowrap;
    text-align: center;
    margin: 45vh 0;
    float: none;
  }

  ul {
    /* display: inline-flex; */
    padding: 20px;
    /* list-style: none; */
    /* display: block; */
    text-align: center;
  }

  li {
    min-width: 56px;
    max-width: 96px;
    display: inline-block;
  }

  .description {
    text-align: center;
    padding-left: none;
    display: block;
  }

  .mylesfooterlabel {
    margin: 20px 0;
  }

  .mylesfooterimpressum {
    text-align: left !important;
  }

  .hi {
    margin-left: 115px;
  }
}

.mylesfootericons {
  text-align: right !important;
}

.btn-default {
  border: 1px solid darkgray;
  background-color: black;
  color: white;
  border-radius: px;
  height: 56px;
  width: 600px;
  text-align: center;

}

.btn-default-small {
  border: 1px solid darkgrey;
  background-color: black;
  color: white;
  border-radius: 56px;
  text-align: center;
  margin: 0 7px;
  height: 28px;
  width: 28px;
  text-align: center;

}

#btn-page-jumper {
  background-image: url("../img/icons/jumper.svg");
  background-size: 1.45em;
  background-repeat: no-repeat;
  background-position: center;
  padding-right: 56px;
}

#btn-social-facebook {
  background-image: url("../img/icons/facebook.svg");
  background-size: 1em;
  background-repeat: no-repeat;
  background-position: center;
}

#btn-social-twitter {
  background-image: url("../img/icons/twitter.svg");
  background-size: 1em;
  background-repeat: no-repeat;
  background-position: center;
}

#btn-social-github {
  background-image: url("../img/icons/github.svg");
  background-size: 1em;
  background-repeat: no-repeat;
  background-position: center;
}

/*
 * the main class style
 */
.container-fluid {
  padding: 0;
}

.wp {
  position: absolute;
  margin-top: -500px;
}

.hi {
  -webkit-transition: opacity 1.5s ease-in;
  -moz-transition: opacity 1.5s ease-in;
  -ms-transition: opacity 1.5s ease-in;
  -o-transition: opacity 1.5s ease-in;
  transition: opacity 1.5s ease-in;
  opacity: 0;
}

.leftHeadline {
  /*float: left;*/
  /*margin-left: 4em;*/
  -webkit-transition: opacity 1.5s ease-in;
  -moz-transition: opacity 1.5s ease-in;
  -ms-transition: opacity 1.5s ease-in;
  -o-transition: opacity 1.5s ease-in;
  transition: opacity 1.5s ease-in;
  opacity: 0;
}

/*
 * the navigation bar
 */
.nav {
  font-size: 14px;
  position: fixed;
  z-index: 5000;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 5em;
  -webkit-transition: height 0.5s ease-in;
  -webkit-transition: background-color 0.5s ease-in;
  -moz-transition: height 0.5s ease-in;
  -moz-transition: background-color 0.5s ease-in;
  -ms-transition: height 0.5s ease-in;
  -ms-transition: background-color 0.5s ease-in;
  -o-transition: height 0.5s ease-in;
  -o-transition: background-color 0.5s ease-in;
  transition: height 0.5s ease-in;
  transition: background-color 0.5s ease-in;
  background-color: none;
}

.logo {
  display: block;
  float: left;
  width: 5em;
  height: 5em;
  -webkit-transition: height 0.5s ease-in;
  -moz-transition: height 0.5s ease-in;
  -ms-transition: height 0.5s ease-in;
  -o-transition: height 0.5s ease-in;
  transition: height 0.5s ease-in;
  background-color: #000;
  background-image: url("../img/logo/Myles_Logo_v1.svg");
  background-position: center;
  background-size: contain;
}

.nav span {
  /* margin-top: 20px; */
  font-size: 1.4em;
  position: absolute;
  padding: 1em;
  letter-spacing: 0.06em;
  -webkit-transition: padding 0.5s ease-in;
  -moz-transition: padding 0.5s ease-in;
  -ms-transition: padding 0.5s ease-in;
  -o-transition: padding 0.5s ease-in;
  transition: padding 0.5s ease-in;
}

b,
strong {
  font-weight: 700;
  letter-spacing: 0.07em;
}

.nav ul {
  float: right;
  overflow: hidden;
  text-decoration: none;
}

.nav li {
  font-size: 1em;
  display: inline-block;
  padding: 2em;
  -webkit-transition: padding 0.5s ease-in;
  -moz-transition: padding 0.5s ease-in;
  -ms-transition: padding 0.5s ease-in;
  -o-transition: padding 0.5s ease-in;
  transition: padding 0.5s ease-in;
}

ol {
  background: #ff9999;
  padding: 20px;
  list-style: none;
}

ul {
  background:;
  /*padding: 20px;*/
  list-style: none;
  display: block;
}

ol li {
  background: #ffe5e5;
  padding: 5px;
  margin-left: 35px;
  list-style: none;
}

ul li {
  background: black;
  margin: 5px;
  list-style: none;
}

.smaller {
  height: 4em;
  background-color: none;
}

.nav.smaller div.logo {
  height: 4em;
}

.nav.smaller span {
  padding: 0.6em;
  visibility: collapse;
}

.nav.smaller ul li {
  padding: 1.3em 2em;
}

/*
 * the intro section
 */
#intro {
  /* height: 100vh; */
  margin: 0;
  padding: 0 16em;
  background-color: black;
  background-image: url("../img/intro.jpg");
  background-position: left top;
  background-repeat: no-repeat;
}

#intro p {
  font-size: 2.5em;
  font-weight: 400;
  float: right;
  line-height: 1.1em;
  margin: 45vh 0;
  letter-spacing: 0.05em;
}

/*
 * the what section
 */
#what {
  display: block;
  /* height: 100vh; */
  margin: 0;
  padding-top: 35vh;
  background-image: url("../img/intro.jpg");
  background-position: right;
  background-repeat: no-repeat;
}

#pictureWhat {
  display: block;
  height: 90vh;
  margin: 0;
  padding: 0 16em;
  background-image: url("../img/what.png");
}

/*
 * the os section
 */
#os {
  /* height: 80vh; */
  /* padding-top: 3em; */
  /* padding-bottom: 3em; */
  display: block;
  /* height: 100vh; */
  margin: 0;
  padding-top: 35vh;
  background-image: url("../img/intro2.jpg");
  background-position: center top;
}

#pictureOs {
  display: block;
  height: 90vh;
  background-image: url("../img/os.png");
}

/*
 * the planing section
 */
#planing {
  display: block;
  /* height: 90vh; */
}

#picturePlaning {
  display: block;
  /* height: 90vh; */
  margin: 0;
  background-image: url("../img/grid.svg");
  background-repeat: repeat;
  background-size: 40px;
  border-top: 1px solid #2d2d2d;
  border-bottom: 1px solid #2d2d2d;
}

/*
 * the control section
 */
#control {
  display: block;
  /* height: 90vh; */
}

#pictureControl {
  display: block;
  /* height: 90vh; */
  margin: 0;
  background-image: url("../img/grid.svg");
  background-repeat: repeat;
  background-size: 40px;
  border-top: 1px solid #2d2d2d;
  border-bottom: 1px solid #2d2d2d;
}

/*
 * the analyze section
 */
#analyze {
  display: block;
  /* height: 90vh; */
}

#analyzePicture {
  display: block;
  /* height: 90vh; */
  margin: 0;
  background-image: url("../img/grid.svg");
  background-repeat: repeat;
  background-size: 40px;
  border-top: 1px solid #2d2d2d;
  border-bottom: 1px solid #2d2d2d;
}

/*
 * the software section
 */
.subhead {
  -webkit-transition: opacity 0.5s ease-in;
  -moz-transition: opacity 0.5s ease-in;
  -ms-transition: opacity 0.5s ease-in;
  -o-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
  opacity: 0;
}

.show {
  opacity: 1;
}

.symbol {
  display: inline-block;
  /* float: left; */
  padding: 0 10px 0 0;
  margin-right: 0;
}

.symbol > div {
  width: 64px;
  height: 64px;
  margin: 0 auto;
  background-color: none;
  float: left;
}

.video-container {
  display: block;
  position: relative;
}

#video {
  width: 100vh;
  margin: 0;
}

.picture {
  background-color: none;
  text-align: center;
  margin: 0 auto;
  vertical-align: middle;
  height: auto;
}

#softwarePicture {
  display: block;
  /* height: 90vh; */
  margin: 0;
  background-image: url("../img/grid.svg");
  background-repeat: repeat;
  background-size: 40px;
}

#btn-invite {
  background-color:;
  width: 560px;
  height: 56px;

}

.picture {
  background-color: none;
  text-align: center;
  margin: 0 auto;
  vertical-align: middle;
  height: auto;
}

.video {
  background-color: none;
  text-align: center;
  margin: 0 auto;
  vertical-align: middle;
  height: auto;
  -webkit-box-shadow: 10px 10px 50px black;
  -moz-box-shadow: 10px 10px 50px black;
  box-shadow: 10px 10px 70px black;
}

.mylesfnkt {
  /*border: 14px #dadada;*/

  margin-bottom: 15px;

  /* display: block; */
}

.mylesfnkt > span {}
/*
 * the beta section
 */
#orderbeta {
  display: block;
  margin: 0;
  text-align: center;
  /*float: left;*/
}

.test {
  padding: 10px 20px 20px 0;
  display: inline-block;
  /* position: f*/
}

.test > h4 {
  /*padding-left: 10px;*/
  /*display: inline-block;*/
  /* position: f
}
